* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
   
    background-image: url("images/1slovenia.jpg");
    background-size: auto;
}

.main {
    grid-area: main;
    grid-gap: 15px;
}

.aside {
    grid-area: sidebar;
}

footer{   
    grid-area: footer;
}

img {
    border-style: none;    
}

.slLogo, imgEv{
    width: 100%;
}

.logo{
    max-width: 150px;
    grid-column: 1 / 5;
    grid-row: span 2;
    align-self: center;
}

.background{
    display: block;
    
    grid-column: 1/7;
    position: absolute;
    z-index: -1;
}

.right{
    justify-self: end; 
    grid-column: 5 / 7;
}

.social{
    margin-top: 15px;
    justify-self: end;
    text-align: right;    
}

.search{
    margin-top: 15px;
    justify-self: end;
    margin-bottom: 75px;
}

#menuToggle{
    justify-self: stretch; 
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /*grid-template-rows: auto;*/
    grid-template-areas: 
    "header header"
    "main sidebar"
    "footer footer";
    grid-gap: 10px;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li{
      float: left;
    }
  
  a li {
    display: block;
    background-color: rgb(71, 193, 241);
  
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
    #menu a{
        color:#faeb1d;
    }

  #menu a :hover {
    background-color:rgb(87, 220, 253);
  }
  
  #menuToggle span,  #menuToggle input
  {
    display: none;
  }


.cont{    
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-gap: 15px;
    justify-content: space-between;
}

.cont .event{      
    min-width: 270px;
    max-width: 290px;
   /* width: 270px;*/
    border: 2px solid  #1a7508be;

    background: #fff;
    height: 397px;
}

.title{
    font-size: 25px;
    color: rgb(15, 16, 19);
    text-align: center;
    margin: 7px 0;
    font-weight: 700;
}

.stat img{
    width: 15px;
}

.textTop{
    font-size: 1.3em;
    margin:  0.9rem 0;
    font-weight: 700;
}

.textDown{
    font-size: 1em;
    font-style: italic;
    font-weight: 700;
}

.stat{
    text-align: center;
    padding: 5px;
}

.imgEvent{
    max-width: 15px;
}
.imgEv{
    max-width: 100px;
}

.description{
    text-align: center;
    margin: 0 5px;
    width: 250px; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    
}

.author {
    max-width: 170px;
    display: grid;
    grid-template-columns: repeat(2, 180px);
    grid-gap: 15px;
    justify-content: start;    
}

.name{
    font-size: 25px;
    font-style: oblique;
    text-align: center;
    margin: 7px 0;
}

.author p {
    margin: 3px;
}

.authorM {
    width: 100%;
    float:left; 
    margin-right:10px;
    border: 2px solid  #1a7508be;
}

.authorM:hover{
    border: 2px solid  #4cdd2fbe;
}

.sub-container input[type=text], input[type=email] {
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(219, 219, 219);
    float: left;
    width: 100%;
    background: #e7e9e7;
}

.social-center{
    text-align: center;
    margin: 23px 0;
}

.sub-container input[type=submit] {
    float: center;
    width: 100%;   
    background: rgb(128, 192, 245);
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    cursor: pointer;
    margin: 5px 0;
}

.search-container input[type=text] {
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(255, 226, 226);
    float: left;
    width: 80%;
    background: #e7e9e7;
    margin-top: 23px;
}

.search-container button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(128, 192, 245);
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-top: 23px;
}

.search-container button:hover {
    background: #0b7dda;
}

.search-container::after {
    content: "";
    clear: both;
    display: table;
}

.comments {
    /*max-width: 170px;*/
    display: grid;
    grid-template-columns: 93px auto;
    grid-gap: 15px;
    justify-content: start;    
}

.comment {
    width: 250px; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.user-name {
    margin: 17px 0 10px 0;
    font-size: 18px;
    font-weight: 600;
}

.user{
    border: 2px solid  #1a7508be;
    border-radius: 50%;
    width: 83px;
    background-color: #0b7dda;
    margin: 5px;
}

.art{
    text-align: center;
    font-size: 19px;
    font-style: oblique;
}

.tag{
    margin: 23px 0;
    text-align: center;
}

.tag a{
    padding: 7px;
    font-size: 17px;
}

.tag a:hover{
    color: #0b7dda;
}

.foot{
    text-align: center;
    justify-self: center;
}