* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
   
    background-image: url("1slovenia.jpg");
    background-size: auto;
}

.main {
    grid-area: main;
    grid-gap: 15px;
}

.aside {
    grid-area: sidebar;
}

footer{
    grid-area: footer;
}

img {
    border-style: none;    
}

.slLogo, imgEv{
    width: 100%;
}

.logo{
    max-width: 150px;
    grid-column: 1 / 5;
    grid-row: span 2;
    align-self: center;
}

.background{
    display: block;
    
    grid-column: 1/7;
    position: absolute;
    z-index: -1;
}

.right{
    justify-self: end; 
    grid-column: 5 / 7;
}

.social{
    margin-top: 15px;
    justify-self: end;
    text-align: right;    
}

.search{
    margin-top: 15px;
    justify-self: end;
    margin-bottom: 75px;
}

#menuToggle{
    justify-self: stretch; 
}

.container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /*grid-template-rows: auto;*/
    grid-template-areas: 
    "header header"
    "main sidebar"
    "footer footer";
    grid-gap: 10px;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li{
      float: left;
    }
  
  a li {
    display: block;
    background-color: rgb(71, 193, 241);
  
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  #menu a :hover {
    background-color:rgb(87, 220, 253);
  }
  
  #menuToggle span,  #menuToggle input
  {
    display: none;
  }


.cont{    
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    grid-gap: 15px;
    justify-content: space-between;
}

  .cont .event{      
    width: 270px;
    border: 2px solid  #1a7508be;

    background: #fff;
    height: 397px;
}

.title{
    font-size: 25px;
    color: rgb(51, 128, 230);
    text-align: center;
    margin: 7px 0;
}

.caption1{
    text-align: end;
    padding: 15px;
    background-image: url("1.jpg");
    background-size: auto;
    height: 300px;
}

.caption1:hover{
    background-image: url("1.jpg");
    background-size: 320px;
}

.caption2{
    text-align: end;
    padding: 15px;
    background-image: url("2.jpg");
    background-size: auto;
    height: 300px;
}

.caption2:hover{
    background-image: url("2.jpg");
    background-size: 320px;
}

.caption3{
    text-align: end;
    padding: 15px;
    background-image: url("3.jpg");
    background-size: auto;
    height: 300px;
}

.caption3:hover{
    background-image: url("3.jpg");
    background-size: 320px;
}

.caption4{
    text-align: end;
    padding: 15px;
    background-image: url("4.jpg");
    background-size: auto;
    height: 300px;
}

.caption4:hover{
    background-image: url("4.jpg");
    background-size: 320px;
}

.textTop{
    font-size: 1.3em;
    margin:  0.9rem 0;
    font-weight: 700;
}

.textDown{
    font-size: 1em;
    font-style: italic;
    font-weight: 700;
}

.stat{
    text-align: center;
    padding: 5px;
}

.imgEvent{
    max-width: 15px;
}
.imgEv{
    max-width: 100px;
}

.description{
    text-align: center;
    margin: 5px;
    width: 250px; 
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    }
}